<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="userService" class="springIoC_sample03.UserServiceImpl"></bean>

<bean id="obj1" class="springIoC_sample03.User">
	<constructor-arg value="김베리"></constructor-arg>
</bean>

<bean id="myService" class="springIoC_sample03.UserServiceImpl">
	<constructor-arg ref="obj1"></constructor-arg>
</bean>

</beans>
